.menu-container {
  text-align: center;
  background-image: url('../coche.avif'); 
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; 
}

.nav-links .btn {
  display: inline-block;
  padding: 20px 40px; 
  background-color: #0a0a0a; 
  color: white; 
  text-align: center;
  text-decoration: none;
  border-radius: 5px; 
  font-size: 18px; 
  font-weight: bold; 
  transition: background-color 0.3s, opacity 0.3s; 
}

.nav-links .btn:hover {
  background-color: rgba(255, 0, 0, 0.8); 
}

/* Estilos para el dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Alinea el submenú debajo del botón */
  left: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
