.navbar {
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegurarse de que el navbar esté encima de otros elementos */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Agregamos una transición para un efecto suave */
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-button {
  background-color: #f00;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #c00;
}
