.signup-form .form-heading{
    text-align: center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn {
    display: inline-block;
    padding : 10px; 
    background-color: #0a0a0a; 
    color: white; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 15px; 
    font-weight: bold; 
    transition: background-color 0.3s, opacity 0.3s; 
  }
  
  .btn:hover {
    background-color: rgba(255, 0, 0, 0.8); 
  }